body {
    display: flex;
    align-items: center;
    background-color: black;
}

@font-face {
    font-family: myfont;
    src: url(Fonts/RanchinoScript_PERSONAL_USE_ONLY.otf);
}

.box {
    background-color: white;
    width: 50%;
}

label {
    font-size: 20px;
}

.box {
    background-color: white;
    margin-left: 20%;
    margin-top: 2%;
    padding: 30px;
    border-radius: 10px;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

label {
    display: inline-block
}

.row {
    padding-top: 10px;
}

.start {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-family: myfont;
}

.btn-1 {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-top: 4%;
    font-weight: bold;
}

.btn-1:hover {
    background-color: black;
    color: white;
}

/* .box{
  display: none;  
} */


input {
    padding: 5px;
}

.btn-2 {
    border: none;
    text-align: right;
    margin-left: 60%;
    color: black;
    font-size: 20px;
    /* font-weight: bold; */
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-2:hover {
    background-color: black;
    color: white;
}

.loginbox {
    background-color: white;
    width: 20%;
    background-color: white;
    margin-left: 35%;
    margin-top: 7%;
    padding: 20px 30px;
    border-radius: 10px;
}

.btn-3 {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-top: 6%;
    font-weight: bold;
    width: 95%;
    margin-bottom: 5%;
}

.btn-3:hover {
    background-color: black;
    color: white;
}

label {
    margin-top: 2%;
}

.tag-1 {
    text-decoration: underline;
    color: blue;
}

.loginbox {
    display: none;
}


@media only screen and (max-width: 1200px) {
    input {
        width: 100%;
    }

    .box {
        width: 100%;
        margin-left: 1%;
    }

    .loginbox{
        width: 50%;
        margin-left: 10%;
    }

    .btn-2{
        margin-left: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .btn-2{
        width: 100%;
        margin-left: 0%;
        text-align: center;
        margin-top: 5%;
    }

    .btn-1{
        width: 100%;
    }
}